5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_3/__pycache__/db_config.cpython-313.pyc
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_3/recursos/__pycache__/categorias.cpython-313.pyc
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_3/recursos/__pycache__/productos.cpython-313.pyc
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_4/__pycache__/crud.cpython-313.pyc
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_4/__pycache__/db_config.cpython-313.pyc
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_4/__pycache__/main.cpython-313.pyc
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_4/__pycache__/models.cpython-313.pyc
