5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_3/__pycache__
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_4/__pycache__
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_4/recursos/__pycache__
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_4/recursos/__pycache__
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_5/__pycache__
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_5\.vscode
5TO/ZISVA-Electiva Disciplinar II 25-1/Actividad_5/recursos/__pycache__